.viewtube-btn.white-bordered {
    border: 2px solid #fff;
}

.ajax-search-form.search-widget input[type=text] {
    height: 55px;
}

.ajax-search-form.search-widget button {
    height: 49px;
}

/*--------------------------------------------------------------
## fade-in effect
--------------------------------------------------------------*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*--------------------------------------------------------------
## Loader
--------------------------------------------------------------*/

.loader-rel {
    position: relative;
}

.loader {
    position: absolute;
    right: 47.7%;
    border: 5px solid;
    border-radius: 50%;
    border-top: 5px solid #f3f3f3 !important;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.8s linear infinite;
    /* Safari */
    animation: spin 0.8s linear infinite;
    display: none;
    margin: 20px 0;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
## Banner
--------------------------------------------------------------*/
.banner {
    border-radius: 15px;
    padding: 150px 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .banner-content h1 {
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 50px;
}

.banner .banner-content p {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
}

.banner .banner-content .viewtube-btn {
    padding: 15px 50px;
}

.banner .banner-content .rating li {
    margin-right: 0;
}

.banner .banner-content .rating li i {
    color: #f2b01e;
    font-size: 20px;
}

.banner .banner-content .meta {
    margin-bottom: 40px;
}

.banner .banner-content .meta li {
    font-size: 18px;
    padding-right: 15px;
    border-right: 2px solid #fff;
    color: #fff;
}

.banner .banner-content .meta li:nth-child(1) {
    font-weight: 600;
}

.banner .banner-content .meta li:nth-child(4) span {
    border: 2px solid;
    text-align: center;
    padding: 2px 5px;
}

.banner .banner-content .meta li:last-child {
    border-right: 0;
}

.banner .banner-content .meta li i {}

/*--------------------------------------------------------------
## InfoBox
--------------------------------------------------------------*/

.infobox-item {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 50px 40px;
    border-radius: 15px;
    margin-top: -10px;
}

.infobox-item:hover,
.infobox-item.dropshadow {
    -webkit-box-shadow: 0px 8px 32px 0px rgb(176 176 176 / 30%);
    box-shadow: 0px 8px 32px 0px rgb(176 176 176 / 30%);
}

.infobox-item i {
    font-size: 45px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
}

.infobox-item .second-circle {
    position: absolute;
    top: 113px;
    right: 35%;
    opacity: 0.6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.infobox-item h3 {
    font-weight: bold;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.infobox-item a {
    font-weight: 500;
    color: #444;
}

.infobox-item a span {
    margin-left: 10px;
}

/*--------------------------------------------------------------
## Accordion
--------------------------------------------------------------*/
.viewtube-accordion-item {}

.viewtube-accordion-item:not(:last-child) {
    margin-bottom: 30px;
}

.viewtube-accordion-item h5 {
    margin: 0 !important;
    font-weight: 500;
    cursor: pointer;
}

.viewtube-accordion-item.active h5 span:nth-child(1) {
    display: none;
}

.viewtube-accordion-item h5 span:nth-child(2) {
    display: none;
}

.viewtube-accordion-item.active h5 span:nth-child(2) {
    display: block;
}

.viewtube-accordion-item h5 span {
    float: right;
}

.viewtube-accordion-item .collapse.show {
    margin-top: 20px;
    padding-top: 20px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border-top: 1px solid #ddd;
}

/*--------------------------------------------------------------
## Video item horizontal
--------------------------------------------------------------*/
.video-item-horizontal video {
    width: 100%;
}

.video-item-horizontal .avatar {
    width: 30px;
}

/*--------------------------------------------------------------
## Video item card
--------------------------------------------------------------*/
.video-item-card {
    margin-bottom: 30px;
}

.video-item-card video {
    width: 100%;
}

.video-item-card .video-content {
    padding-top: 10px;
}

.video-item-card .avatar {
    overflow: hidden;
    width: 40px;
    border-radius: 50%;
    display: inline-table;
    margin-right: 15px;
}

.video-item-card a h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
}

.video-item-card .author {
    font-size: 14px;
    color: #212121;
}

.video-item-card .video-thumb {
    border-radius: 15px;
    overflow: hidden;
}



.video-meta {
    padding: 15px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.video-meta img {
    width: 40px;
    border-radius: 50% !important;
}

.video-meta li {
    margin: auto;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.video-meta li a {
    color: #fff;
}

.video-meta li a:hover {
    color: #fff;
}
.video-like i {
    font-size: 24px;
}
.video-shere {
    display: flex;
    align-items: center;
    float: right;
}

.video-shere .social-share ul li a {
    font-size: 19px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    display: block;
}

.video-shere .social-share ul li:nth-child(1) a {
    background: #3B5998;
}

.video-shere .social-share ul li:nth-child(2) a {
    background: #55ACEE;
}

.video-shere .social-share ul li:nth-child(3) a {
    background: #cb2027;
}

.video-shere .social-share ul li:nth-child(4) a {
    background: #007bb5;
}

.video-item-card .video-meta-bottom {
    font-size: 13px;
}

.video-item-card .video-meta-bottom i {
    font-size: 5px;
    margin-top: 10px;
}

.related-videos .video-item-card a h5 {
    font-size: 16px;
    font-weight: 500;
}

.single-video .plyr--video {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.related-videos .plyr--full-ui.plyr--video .plyr__control--overlaid,
.related-videos .plyr--video .plyr__controls {
    display: none;
}

/*--------------------------------------------------------------
## Ad Banner
--------------------------------------------------------------*/
.ad-banner {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px;
    color: #fff;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.ad-banner.horizontal:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(26, 26, 26, .98)), color-stop(90%, rgba(26, 26, 26, 0)));
    background: -o-linear-gradient(left, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(90deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    z-index: -1;
}

.ad-banner.horizontal:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(26, 26, 26, .98)), color-stop(90%, rgba(26, 26, 26, 0)));
    background: -o-linear-gradient(left, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(90deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    z-index: -1;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.ad-banner.horizontal:hover::before {
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(26, 26, 26, .98)), color-stop(90%, rgba(26, 26, 26, 0)));
    background: -o-linear-gradient(left, rgba(26, 26, 26, .98) 35%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(90deg, rgba(26, 26, 26, .98) 35%, rgba(26, 26, 26, 0) 90%);
}


.ad-banner.vertical:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -o-linear-gradient(260deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(190deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    z-index: -1;
}

.ad-banner.vertical:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -o-linear-gradient(260deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(190deg, rgba(26, 26, 26, .98) 25%, rgba(26, 26, 26, 0) 90%);
    z-index: -1;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.ad-banner.vertical:hover::before {
    opacity: 1;
    background: -o-linear-gradient(260deg, rgba(26, 26, 26, .98) 45%, rgba(26, 26, 26, 0) 90%);
    background: linear-gradient(190deg, rgba(26, 26, 26, .98) 45%, rgba(26, 26, 26, 0) 90%);
}

.ad-banner.vertical ul li {
    line-height: 35px;
}

.ad-banner h2 {
    line-height: 26px;
}

.ad-banner h2,
.ad-banner h3 {
    font-weight: bold;
}

.ad-banner h2,
.ad-banner h3,
.ad-banner p,
.ad-banner a {
    color: #fff;
}

.ad-banner .viewtube-btn {
    padding: 12px 35px;
}

/*--------------------------------------------------------------
# Contact form
--------------------------------------------------------------*/
.wpcf7 p {
    margin-bottom: 0
}

.wpcf7 input {
    margin-bottom: 20px
}

.wpcf7 textarea {
    height: 160px;
}

.wpcf7 input[type=submit] {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0 60px;
}

/*--------------------------------------------------------------
# mc4wp
--------------------------------------------------------------*/
.mc4wp-form input[type=email] {
    position: relative;
    height: 60px;
}

.mc4wp-form input[type=submit] {
    position: absolute;
    content: '';
    top: 3px;
    right: 4px;
    height: 54px;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 1200px) {}

@media screen and (max-width: 1230px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}


@media (max-width: 540px) {}